#!/usr/bin/env bash

echo "0) SCRIPT $(basename $BASH_SOURCE)"

echo "1) INITIALIZE ROOT REFERENCE"
export PROJECT_ROOT=${PWD}

echo "2) INITIALIZE DEFAULT PROJECT FOLDERS"
FOLDERS=( "certs" "docker" "input" "logs" "output" "scripts" "src" "temp" )
for i in "${FOLDERS[@]}"
do
    [ ! -d "${i}" ] && mkdir "${i}"
done

echo "3) INITIALIZE DEVELOPMENT ENVIRONMENT"
[ ! -d "venv" ] && python3 -m venv venv
[ -f "${PROJECT_ROOT}/venv/bin/activate" ] &&\
    . "${PROJECT_ROOT}/venv/bin/activate"
[ -f "${PROJECT_ROOT}/requirements.txt" ] &&\
    pip3 install --requirement "requirements.txt"
[ -f "${PROJECT_ROOT}/scripts/environ/init-public-env.sh" ] &&\
    . "${PROJECT_ROOT}/scripts/environ/init-public-env.sh"
[ -f "${PROJECT_ROOT}/scripts/environ/init-private-env.sh" ] &&\
    . "${PROJECT_ROOT}/scripts/environ/init-private-env.sh"
