#!/usr/bin/env bash

export PROJECT_ROOT=${PWD}

[ -f "${PROJECT_ROOT}/venv/bin/activate" ] &&\
    . "${PROJECT_ROOT}/venv/bin/activate"
[ -f "${PROJECT_ROOT}/requirements.txt" ] &&\
    pip3 install -r "${PROJECT_ROOT}/requirements.txt"
[ -f "${PROJECT_ROOT}/init-public-env.sh" ] &&\
    . "${PROJECT_ROOT}/init-public-env.sh"
[ -f "${PROJECT_ROOT}/init-private-env.sh" ] &&\
    . "${PROJECT_ROOT}/init-private-env.sh"
